// Bloc CREATION Post
.blocNewPost{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom:30px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 2em;
    border-radius: 1em;
}

@media (max-width:1060px) {
    .blocNewPost{
        width:85%;
    }
}

@media (max-width:650px) {
    .blocNewPost{
        width:90%;
        padding-right: 0.7em;
        padding-left: 0.7em;
    }
}

.blocNewPost textarea{
    width:95%;
    margin-top: 15px;
    height: 100px;
    border-radius: 1rem;
    padding: 1.5%;
    margin-bottom: 20px; 
}
.blocNewPost input{
    margin-top: 15px;
}

#submitPost{
    margin-top: 15px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 3rem;
    border: none;
    background: #56b2e8;
    color: white;
    font-weight: bold;
}

//Refresh

.refreshPost{
    display: flex;
    border: 1px grey solid;
    width: 120px;
    margin: auto;
    padding: 1em;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.refreshPost i{
    margin-right: 10px;
}

//CardPost
/*
body[0].style.zIndex=-1;
            for(let i=0 ; i< body.length ; i++){
                body[i].style.zIndex= -1
            }
*/
.postCard{
    margin-top: 40px;
    border: 1px solid grey;
    border-radius: 1em;
    padding:1%;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
   
}

@media (max-width:1260px) {
    .postCard{
        width:75%;
    }
}

@media (max-width:630px) {
    .postCard{
        width:90%;
    }
}

.cardHeader{
    height:70px;
    display: flex;
    position: relative;
    padding-bottom: 20px;
    align-items: center;
 
}


.cardHeader img{
    height: 100%;
    width: 70px;
    border-radius:100%;
}

.divPseudoData{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

// SETTINGS POST

.blocSettingsPost{
    width:10%;
    position: absolute;
    right:1%;
}

@media (max-width:860px){
    .blocSettingsPost{
        width:13%;
    }
}

@media (max-width:515px){
    .blocSettingsPost{
        width:20%;
    }
}

.buttonSettingsPost{
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}

.listSettingsPost p{
    border: 1px solid black;
    padding:5%;
}

.listSettingsPost p:first-child{
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.listSettingsPost p:last-child{
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

.popDeletePost{
    position: fixed;
    width:30%;
    top: 35%;
    left:35%;
    right: 50%;
    padding: 1em;
    border-radius: 1rem;
    background: whitesmoke;
    z-index: 1;
}

@media (max-width: 750px) {
    .popDeletePost{
        width:65%;
        top: 30%;
        left:16%
    }
}
.popDeletePost h3{
    text-align: center;
    margin-bottom: 10px;
}

.choiceDeletePost p{
    border-radius: 0.6em;
    text-align: center;
    
}
.choiceDeletePost p:first-child{
    background: #944131;
    margin-bottom: 10px;
    color: whitesmoke;
}

.popUpdatePost{
    position: fixed;
    width:50%;
    top: 35%;
    left:24%;
    padding: 1em;
    border-radius: 1rem;
    background: whitesmoke;
    z-index: 1;

    
}

@media (max-width: 750px) {
    .popUpdatePost{
        width:75%;
        left:9%;
    }
}
.popUpdatePost textarea{
    width:95%;
    margin-top: 15px;
    height: 100px;
    border-radius: 1rem;
    padding: 1.5%;
    margin-bottom: 20px; 
    background: white;
}

.buttonUpdatePost{
    display:flex;
    justify-content: end;
    align-items: center;
}

.buttonUpdatePost div{
    cursor: pointer;
}

.buttonUpdatePost div:last-child{
    width:70px;
    padding:0.5em;
    background:#47cfed;
    text-align: center;
    border-radius: 1em;
    color: white;
    margin-left: 2%;
}

.errorUpdatePost{
    background: #cf5773;
    color: white;
    border-radius: 1rem;
    width: auto;
    margin-bottom: 15px;
}
// BTN FOLLOW UNFOLLOW
.btnUnfollowPost{
    margin-left: 2.5%;
    border: none;
    background: #b8536a;
    color:white;
    border-radius: 1.5rem;
    padding-top:0.6em ;
    padding-bottom: 0.6em;
    padding-right: 1.2em;
    padding-left: 1.2em

}

.btnFollowPost{
    margin-left: 2.5%;
    border: none;
    background: #74ba66;
    color:white;
    border-radius: 1.5rem;
    padding-top:0.6em ;
    padding-bottom: 0.6em;
    padding-right: 1.2em;
    padding-left: 1.2em
}

@media (max-width:630px) {
    .cardHeader{
        height:100px;
    }
    #photoUserPost{
        max-height:70px;
        width: 70px;
        border-radius:100%;
    }
    .btnFollowPost{
        position:absolute;
        bottom: 10px;
        left:70px;
    }

    .btnUnfollowPost{
        position:absolute;
        bottom: 10px;
        left:70px;
    }
}

.cardMessage{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.activeLike{
    display: flex;
    margin-left: 1%;
    color: #4287f5;
    margin-bottom: 10px;
}

.activeLike p{
    color: #4287f5;
    margin-left:0.5%;
}

.disabledLike{
    cursor: pointer;
    display: flex;
    margin-left: 1%;
    margin-bottom: 10px;
}

.disabledLike p{
    margin-left:0.5%;
}

#numberLikes{
    margin-right: 0.3%;
    margin-left: 0px;
}

#bloc_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.cardMessage img{
    max-width: 100%;
}

.errorNewPost{
    margin-top: 15px;
    margin-bottom: 10px;
    background: #cf5773;
    padding: 1em;
    color: white;
    border-radius: 1rem;
}

